/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: "Patrick Hand", serif;
    text-align: center;
}

nav{
    background-color: rgba(191, 214, 196);
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 0 3.125rem;
    top: 0;
    height: 4rem;
    
}
h2{
    margin-top: 5.1rem;

}
header{
    position: fixed;
    height: 5rem;
    width: 100%;
}

h2 {
    display: block;
    font-size: 1.5em;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
    unicode-bidi: isolate;
}

#about-section h2 {
    margin-bottom: 1rem;
    font-size: 2.75rem;
    font-weight: 700;
}
#foto{

}

.right a{
    color: black;
    text-decoration: none;
    justify-content: space-between;
}

.left a{
    color: black;
    text-decoration: none;
    justify-content: space-between;
}

#about-section .social-links {
    font-size: 2.25rem;
}

#about-section .social-links a {
    padding: 0;
    margin: 0 0.75rem;
    color: rgba(86, 117, 93, 0.9);
}

#about-section .social-links a:hover{
    color: rgb(27, 195, 139);
}

#about-section {
    border-bottom: 2px solid rgba(0, 0, 0, 0.1); /* Linha suave */
    padding-bottom: 30px;
}

    #projects-section{
        display: flex;
        text-align: center;
        justify-content: center;
        
    }

    .images{
        display: flex;
        gap: 40px;
    }

a:hover{
    color: white;
}



:root{
    font-size: 17px;
}